<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>D3.js Graphic</title>
  <script type="text/javascript" src="../d3/d3.v3.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  <style>
  body {
    background-color: #222;
  }
    #forcechart {
      background-color: #222;
      width: 700px;
      border: solid white 1px;
      border-radius: 8px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1 class="text-danger">D3.js / force layout chart</h1>
    </div>
    <div id="forcechart"></div>
  </div>
  <script src="js/forcechart.js"></script>


</body>
</html>
